<script type="text/javascript">
     $("#btnMatchs").addClass("selected")
</script>  
<div class="container-fluid h-100" onload="addcolor()">
    <div class="row justify-content-center h-100">
        <div class="col-md-12 col-xl-12 chat">
            <div class="card">
                <div class="card-header msg_head" style="border-bottom :solid white 1px !important">
                    <div class="d-flex bd-highlight">
                        <i class="fa fa-arrow-left"
                            style="margin-top: auto; margin-bottom: auto;margin-right: 2%;">@Html.ActionLink("Atras","Matchs")</i>
                        <div class="img_cont">
                            <img src="@ViewBag.foto" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>Chat con @ViewBag.nom</span> <!-- NOMBNRE MATCH -->
                        </div>
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>

                    @{
                        int i = ViewBag.id;
                         }
                    <div class="action_menu" >

                    
                       <ul> <!--
                            <li>
                                  using (Html.BeginForm("VerPerfil", "BuscarAmistad", FormMethod.Post,new{class="input-group"})){
                                 Html.Hidden("usu_envia",i)
                        
                                <button class="btn" style="color :white ;  background: transparent;"><i class="fas fa-user-circle"></i>Ver Perfil</button> }
                            </li> -->
                            <li>
                                @using (Html.BeginForm("CancelarMatch", "BuscarAmistad", FormMethod.Post,new{@class="input-group"})){
                                 @Html.Hidden("usu_envia",i)
                                <button class="btn" style="color :white ; background: transparent;"><i class="fas fa-trash"></i>Cancelar Match</button>}
                            </li>
                        </ul>
                    </div>

            </div>
            <div id ="chat_container" class="card-body msg_card_body">
                 <h5 style="text-align: center; color: darkgray;">@ViewBag.msjNULL</h5>
                <!-- HACER FOR EACH DE MENSAJES  -->

                @Html.Partial("_CargarChat",(IEnumerable<Chat>)ViewBag.lstChat)
            </div>
            <div class="card-footer" style="border-top :solid white 1px !important">
                    @{
                         i = ViewBag.id;
                    }
                    @using (Html.BeginForm("EnviarMensaje", "BuscarAmistad", FormMethod.Post,new{@class="input-group"})){
              
                    @Html.Hidden("usu_envia",i)
                    @Html.TextArea("mensaje","",1,1,new{@class="form-control type_msg" ,@placeholder="Escribe un mensaje..."})
                    <button class="input-group-text send_btn input-group-append"><i class="fas fa-location-arrow"></i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

</div>
<script>
  $('#myList a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

    $(document).ready(function () {
      $('#action_menu_btn').click(function () {
        $('.action_menu').toggle();
      });
    });

  $('a[data-toggle="list"]').on('shown.bs.tab', function (e) {
    e.target // newly activated tab
    e.relatedTarget // previous active tab
  })


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 
  <script type="text/javascript">
      document.getElementById('final').scrollIntoView(true)
</script>

